.side-panel__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.side-panel__logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.side-panel__logo-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-text-main {
  font-family: "微软雅黑";
  font-weight: 600;
  font-size: 26px;
  /* background: linear-gradient(90deg, #2B7A0B, #4CAF50); */
  background: #4CAF50;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  position: relative;
  padding: 1px 0;  
  transition: transform 0.3s ease;  
}

.logo-text-main + .logo-text-main {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;    
  background: linear-gradient(90deg, #2B7A0B, #4CAF50);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.logo-text-sub {
  font-size: 12px;
  color: var(--color-text-secondary);
}

/* 添加悬停效果 */
/* .side-panel__logo:hover .logo-text-main {
  color: #35b26d;
  transition: color 0.2s ease;
} */

.side-panel__logo:hover .logo-text-sub {
  opacity: 0.9;
  transition: opacity 0.2s ease;
}

/* 保留悬停时的上移效果 */
.side-panel__logo:hover .logo-text-main {
  transform: translateY(-1px);
} 